.Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding: 1rem;
  height: 100vh;
}

.Container {
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  border: 1px solid black;
  font-size: 12px;
  height: 100%;
  width: 100%;
  resize: none;
  padding: 5px;
}

.Output {
  border: 1px solid black;
  padding: 0.5rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.Output pre {
  flex-shrink: 0;
}
