blockquote {
  border-left: 5px solid #c5c2c2;
  margin-left: 0;
  padding-left: 1rem;
}

pre {
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  font-family: monospace;
  background: #eee;
  border-radius: 4px;
  padding: 2px;
}

pre code {
  background: none;
  border-radius: 0;
  padding: 0;
}

h1 {
  margin: 0.5rem 0;
}

h2,
h3 {
  margin: 0.3rem 0;
}

ul,
ol,
p {
  margin: 0.5rem 0;
}
